body {
  background-color: #f9f7fe;
}
h1 {
  font-weight: 800;
  font-family: "Merienda", cursive;
  font-size: 36px;
  line-height: 1.5;
  color: #630369;
  text-align: center;
}
.container {
  margin: 120px auto;
  max-width: 700px;
  border-radius: 10px;

  background-color: #fbc3ff;
}
.form {
  padding: 30px;
  border-radius: 10px;
  background-color: #f4d8f6;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.instructions {
  padding: 16px;
  border: 1.5px solid #630369;
  border-radius: 50px;
  font-size: 16px;
  line-height: 20px;
  width: 70%;
  color: #630369;
}
.button {
  background: #630369;
  color: #f4d8f6;
  border: none;
  width: 130px;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 26px;
}
.poem {
  font-weight: 400;
  font-family: "Merienda", cursive;
  font-size: 28px;
  padding: 20px;
}
.footer {
  color: #630369;
  font-size: 14px;
  margin-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.poem strong {
  line-height: 2;
}
